# === Custom Image (CAF) ===
CUSTOM_IMAGE=hisham733/caf-hisham
CUSTOM_TAG=latest
PULL_POLICY=always

# === Database (must match --mariadb-root-password in deploy.sh) ===
DB_PASSWORD=admin

# === Gunicorn ===
GUNICORN_THREADS=4
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=120

# === Site ===
ERPNEXT_VERSION=15.74.2

# Only for HTTPS:
# FRAPPE_SITE_NAME_HEADER=
# LETSENCRYPT_EMAIL=mail@example.com
